@import '../../node_modules/mq-scss/mq';
@import './reset.scss';

@include mq(max, 425px) {
    .links-container {
        position: absolute;
        top: -100vh;
        left: 0px;
        right: 0px;
        height: 100vh;
        background: rgba(0, 0, 0, 0.829);
        transition: all .2s;
        &.active {
            top: 0vh;
        }

        &__close,
        &__items {
            position: relative;
        }
        
        &__close {
            right: 0px;
            margin: 10px;
        }
        &__items {
            top: 20px;
            width: 70%;
            color: white;
            left: 50%;
            transform: translateX(-50%);
            text-align: center;
            font-size: 1.3em;
        }
    }
}