/* Coolors Exported Palette - http://coolors.co/757761-f4e76e-f7fe72-8ff7a7-51bbfe */

/* HSL */
$color1: hsla(65%, 10%, 42%, 1);
$color2: hsla(54%, 86%, 69%, 1);
$color3: hsla(63%, 99%, 72%, 1);
$color4: hsla(134%, 87%, 76%, 1);
$color5: hsla(203%, 99%, 66%, 1);